$color-lighter: #FFF2FC
$color-light: #F99BE7
$color-medium: #F249D6
$color-strong: #CD00BC
$color-stronger: #800087

$body-bg: linear-gradient($color-lighter, white)
$body-color: #111

$font-family-sans-serif: Helvetica, Segoe UI, Helvetica, sans-serif
$font-size-regular: 1.5em
$font-weight-regular: 300

$theme-colors: (  "primary": $color-stronger, "light": $color-lighter, "dark": $color-stronger, "danger": #ff4136 )

.color-lighter
  color: $color-lighter

.color-light
  color: $color-light

.color-medium
  color: $color-medium

.color-strong
  color: $color-strong

.color-stronger
  color: $color-stronger